/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/*
=============== 
Global Styles/ Reset
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4 p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}
/* imgs easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01sms !important;
    scroll-behavior: auto !important;
  }
}
/* =========
utility clases 
=========== */
.hidden {
  display: none;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}
/* header */
.logo {
  margin: clamp(1.5rem, 5vw, 2rem);
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* SPACING .flow */
/* Seclect all the elements of a divider except the first Child */
/* It is use to make the top and botton line heights and borders the same */
/* Where is a way to group things, is lower on specificy so we dont overwrite things*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 1200px;
}

/* for the visually impaired -Hide Contten- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
body {
  background: #6883ba;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ----------
CALCULATOR
------------- */
.container {
  display: flex;
  max-width: 300px;
  width: 300px;
}

.calculator {
  /* border: 1px solid limegreen; */
  border: 1rem solid white;
  border-radius: 10px;
}

.screen {
  width: 400px;
  height: 100px;
  background: transparent;
  /* border: 1rem solid white; */
  padding: 5px;
}
.buttons {
  /* border: 1rem solid white; */
  max-width: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 5px;
}
.btn-c {
  padding: 1.3rem;
}
.btn {
  border-radius: 10px;
}
#delete {
  padding: 1.3rem;
}
/* Naming number for grid */
/* operators */
#plus {
  grid-area: sum;
}
#minus {
  grid-area: minus;
}
#mult {
  grid-area: mult;
}
#divide {
  grid-area: divide;
}
/* end operators */

/* numbers */
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#dot {
  grid-area: dot;
}
/* end numbers */

/* Utilities calc */
#equal {
  grid-area: equal;
}
#clear {
  grid-area: clear;
}
#delete {
  grid-area: delete;
}
.buttons {
  grid-template-areas:
    "seven eight nine sum divide"
    "four five six minus clear"
    "one two three mult clear"
    "dot zero delete equal equal";
}
