/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/*
=============== 
Global Styles/ Reset
===============
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4 p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}
/* imgs easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01sms !important;
    scroll-behavior: auto !important;
  }
}
/* =========
utility clases 
=========== */
.hidden {
  display: none;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}
/* header */
.logo {
  margin: clamp(1.5rem, 5vw, 2rem);
}
.primary-header {
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* SPACING .flow */
/* Seclect all the elements of a divider except the first Child */
/* It is use to make the top and botton line heights and borders the same */
/* Where is a way to group things, is lower on specificy so we dont overwrite things*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}
.container {
  padding-inline: 0rem;
  margin-inline: auto;
  max-width: 1200px;
}

/* for the visually impaired -Hide Contten- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
body {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ----------
CALCULATOR
------------- */
.container-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  margin-block: auto;
}

.calculator {
  /* border: 1px solid limegreen; */
  border: 1px solid white;
  /* max-height: 400px; */
  max-width: 360px;
  /* margin-block: auto; */
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 350px;
  height: 200px;
  background: rgb(24, 24, 24);
  /* border: 1rem solid white; */
  padding: 5px;
}
.data-previous-operand {
  font-size: 2rem;
  color: #728ab79f;
}
.data-current-operand {
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
.lines img {
  margin-inline: auto;
  margin-block: 0.3rem;
}
.buttons {
  border-top: 4px solid white;
  max-width: 350px;
  width: 350px;
  padding: 5px;

  background-color: #f0f0f3;
}
.buttons-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.btn-c {
  padding: 1.3rem;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #4a6dad;
}
.btn {
  /* border-radius: 10px; */
  background-color: rgb(255, 255, 255);
  transition: 0.2s;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f3;
  box-shadow: -10px -10px 24px rgba(223, 222, 222, 0.6),
    10px 10px 24px rgba(174, 174, 192, 0.329);
  font-size: 1.6rem;
  font-weight: bold;
}
.sign,
#clear,
#delete {
  background-color: #f0f0f3;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: -10px -10px 24px rgba(223, 222, 222, 0.6),
    10px 10px 24px rgba(174, 174, 192, 0.329);
}
#equal {
  background-color: #2dd3c5;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
}
/* dif colors */
#clear,
#divide {
  color: #898989;
}
#plus,
#mult,
#minus {
  color: #745ff2;
}
/* hover */
.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
}
#clear:hover,
#delete:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
}
#equal:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.75);
  color: white;
}
#delete {
  padding: 1.3rem;
}
/* Naming number for grid */
/* operators */
#plus {
  grid-area: sum;
}
#minus {
  grid-area: minus;
}
#mult {
  grid-area: mult;
}
#divide {
  grid-area: divide;
}
/* end operators */

/* numbers */
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#dot {
  grid-area: dot;
}
/* end numbers */

/* Utilities calc */
#equal {
  grid-area: equal;
}
#clear {
  grid-area: clear;
}
#delete {
  grid-area: delete;
}
.buttons-box {
  grid-template-areas:
    "clear clear divide mult "
    "seven eight nine sum"
    "four five six minus"
    "one two three equal"
    "dot zero delete equal";
}
.dots1 {
  display: none;
}
@media screen and (min-width: 720px) {
  .dots--1 {
    display: inline-block;
    position: relative;
    left: -11em;
    z-index: -1;
    top: 10em;
  }
  .dots--2 {
    display: inline-block;
    position: relative;
    left: 11em;
    z-index: -1;
    top: 43em;
  }
  .dots--2 img {
    color: white;
  }
}
/* FOOTER */
footer {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  color: rgb(0, 0, 0);
  justify-content: center;
  background-color: rgb(170, 170, 170);
  /* min-width: 100vh; */
  min-width: 100%;
  max-width: 100vh;
  padding-block: 2rem;
}
